@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  font-smooth: always;
}


body{
  background: #181818;
}

/* hide scrollbar */
body::-webkit-scrollbar {
  display: none;
}